<footer class="bg-white text-dark ">
  <div class="container py-5">
      <div class="row">
          <div class="col-md-4">
              <h5>À propos de nous</h5>
              <p>Investiny est la première plateforme Tunisienne de financement participatif au Tunisie. Notre mission est de contribuer à la réalisation de projets créatifs.</p>
          </div>
          <div class="col-md-4">
              <h5>Liens rapides</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Accueil</a></li>
                  <li><a href="#">Découvrir</a></li>
                  <li><a href="#">lance un projet </a></li>
                  <li><a href="#">Aide</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h5>Contactez-nous</h5>
              <address>
                  <p><strong>Téléphone :</strong> +216 *******</p>
                  <p><strong>Email :</strong> contact@Investiny.com</p>
              </address>
          </div>
      </div>
  </div>
  <div class="text-center py-3">
      <p>&copy; create with passion <img src="/assets/images/logo.png" alt="Logo" width="150">.</p>
  </div>
</footer>
