

<ul class="list-group" style="width: 75%; margin: 0 auto;">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of projets">
      <li class="list-group-item">
        <app-crud
          [productId]="product.id"
          [productPhoto]="'./assets/images/product/bag.PNG'"
          [productName]="product.titreduprojet"
          [productDesc]="product.description"
          [productDateD]="product.datededebut"
          [productDateF]="product.datedefin"
          [productMontA]="product.montantactuel"
          [productMontC]="product.montantcible"
          [productStatut]="product.statut"
          [productCategorie]="product.categorie"
          [productPrix]="product.prix">
        </app-crud>
      </li>
    </div>
  </div>
</ul>



<hr>
<div class="card border-white mb-3" style="max-width: 1000px;width: 75%; margin: 0 auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="\assets\images\diarnoir.PNG" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Investiny </h5>
        <p class="card-text">Investiny est la première plateforme Tunisienne de financement participatif au Tunisie. Notre mission est de contribuer à la réalisation de projets créatifs.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<hr>
