<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="signup-form">
        <img src="/assets/images/logo.png" alt="Investiny Logo">
        <br>
        <br>
        <br>

        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nom complet">
          </div>
          <br>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Adresse e-mail">
          </div>
          <br>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Mot de passe">
          </div>
          <br>
          <br>

          <button class="btn btn-primary btn-block">S'inscrire</button>
        </form>
        <p class="or-divider"><span>OU</span></p>
        <button class="btn btn-secondary btn-block">Se connecter avec google </button>
        <p class="terms">En vous inscrivant, vous acceptez nos Conditions générales. Pour en savoir plus sur la manière dont nous recueillons, utilisons et partageons vos données, consultez notre Politique d'utilisation des données et notre Politique d'utilisation des cookies.</p>
      </div>
    </div>
  </div>
</div>
