<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="user-profile">
        <img src="/assets/images/product/profile.jpg" alt="Photo de profil" class="img-fluid rounded-circle">

      </div>
    </div>
    &nbsp;&nbsp;
    <div class="col-md-4" style="margin-left: 100px;">
      <div class="user-posts">
        <div class="row">
          <h3>Nom de l'utilisateur</h3>
          <p>@nom_utilisateur</p>
          <button type="button" class="btn btn-success" [routerLink]="['/updateprofil']">Modifier mes infos</button>

      </div>
    </div>
  </div>
</div>
<ul class="list-group" style="width: 75%; margin: 0 auto;margin-top: 100px;">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <li class="list-group-item">
        <app-crud
          [productPhoto]="product.productPhoto"
          [productName]="product.productName"
          [productDesc]="product.productDesc"
          [productPrix]="product.productPrix">
        </app-crud>
      </li>
    </div>
  </div>
</ul>
