/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Component CSS or global styles */
.green-snackbar {
    background-color: green;
    color: white; /* Set the text color to white or any suitable color for better visibility */
  }
.red-snackbar {
    background-color: red;
    color: white; /* Set the text color to white or any suitable color for better visibility */
}
